{% extends 'base.html' %}

{% block contents %}
<br>

<body>
<div class="container">
    {% for blog in posts %}
        <br>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{blog.title}}</h3>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
                <p class="card-text">{{blog.summary}}<a href="{% url 'detail' blog.id %}" class="card-link">...more</a></p>
                
            </div>
        </div>
    {% endfor %}
    <br><br>
    <!--First Previous-->
    {%if posts.has_previous%}
    <a href="?page=1">1...    </a>
    <a href="?page={{posts.previous_page_number}}">Previous...    </a>
    {%endif%}
    
    <!--x of z-->
    <span>   <{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}>    </span>

    <!--Next Last-->
    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">Next...    </a>
    <a href="?page={{posts.paginator.num_pages}}">{{posts.paginator.num_pages}} </a>
    {%endif%}
</div>


</body>
{% endblock %}